/*===== General styles import =====*/
@import "../colors";
@import "../fonts";

/*===== Home Styles =====*/
.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*===== CardsContaines Styles =====*/
.section {    
    padding-bottom: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 4rem;
}
.content-title {
	border-block: 1px solid $light-red;
    margin-bottom: 1.5rem;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding-bottom: 1.5rem;
    margin-inline: -1.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: $a-hover #282727 ; // Firefox
}
